In [37]:
import pandas as pd
import numpy as np
from requests import get
from bs4 import BeautifulSoup

pd.set_option("display.max_colwidth",-1)

In [38]:
basics = pd.read_table('C:/Users/USER/Desktop/Datasets/IMDB_dataset/title.basics.tsv/title.basics.tsv')
basics.head()

In [46]:
akas = pd.read_table('C:/Users/USER/Desktop/Datasets/IMDB_dataset/title.akas.tsv/title.akas.tsv')
akas.head()

C:\Users\USER\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
1,tt0000001,2,Карменсита,RU,\N,\N,\N,0
2,tt0000001,3,Carmencita,US,\N,\N,\N,0
3,tt0000001,4,Carmencita,\N,\N,original,\N,1
4,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1